<!DOCTYPE html>
<html>
<head>
    <title>Rate the Universe&#0153;</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Rate the Universe&#0153;</a>
            </div>
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="nav navbar-nav" role="tablist">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if current_user %>
                    
                    <li><%= link_to 'Sign Out', logout_path %></li>
                        
                    <% else %>
                    
                    <li><%= link_to 'Sign In', '/auth/facebook' %></li>
                    
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
       
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, :class => "alert alert-#{name}" %>
                <% end %>
            </div>
        </div>
            
        <div class="row">

            <%= yield %>
        
        </div>
    </div>

</body>
</html>
